<!DOCTYPE html>
<html lang="en">

<head>
    <title>Sunny Restaurant Point of Service</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="Mycss.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Sunny Restaurant </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Waiter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active " href="#">Kitchen</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">General Management</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Counter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Username</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#">Admin</a>
            </li>
        </ul>
    </nav> 

    <div class="sidenav">
        <a href="#" style="color: #f1f1f1;">Live Orders</a>
        <a href="#">Ingredient Request</a>
        <a href="#">New Food Item</a>
        <a href="#">Analytics</a>
    </div>

    <!-- Page content -->
    <div class="main">
        ...
    </div>

    <div class="container">
        <div id="accordion">
            <xdiv class="card">
                <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                        Order #1
                    </a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                    <div class="card-body">
                        <form action="/order_prepared">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="number">Customer ID:</label>
                                        <h3>420</h3>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="number">Table Number:</label>
                                        <h3>69</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="orders">Orders:</label><br>
                                        <ol>
                                            <li>Butter Naan</li>
                                            <li>Chicken Tikka</li>
                                            <li>Kadhai Paneer</li>
                                            <li>Dal Makhani</li>
                                            </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="Drinks">Drinks:</label><br>
                                        <ol>
                                            <li>100 pipers on the rocks</li>
                                            <li>Long island iced tea</li>
                                            <li>Desi Daaru</li>
                                            
                                            </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style="display:none">
                                <label for="Feedback">Feedback:</label>
                                <input type="text" class="form-control" placeholder="Feedback" id="Feedback">
                            </div>

                            <button type="submit" class="btn btn-primary">Prepared</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                        Order #2
                    </a>
                </div>
                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <form action="/Send_order">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="number">Customer ID:</label>
                                        <input type="number" min="1" max="6" class="form-control"
                                            placeholder="Number of people" id="Number_of_people">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="orders">Orders:</label><br>
                                        <select name="Orders[]" multiple>
                                            <option value="1">Butter Naan</option>
                                            <option value="2">Chicken Tikka</option>
                                            <option value="3">Kadhai Paneer</option>
                                            <option value="4">Dal Makhani</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="Drinks">Drinks:</label><br>
                                        <select name="Orders[]" multiple>
                                            <option value="1">100 pipers on the rocks</option>
                                            <option value="2">Long island iced tea</option>
                                            <option value="3">Desi Daaru</option>
                                            <option value="4">Kasaul ka maal</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style="display:none">
                                <label for="Feedback">Feedback:</label>
                                <input type="text" class="form-control" placeholder="Feedback" id="Feedback">
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                        Order #3
                    </a>
                </div>
                <div id="collapseThree" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <form action="/Send_order">
                            <div class="row" style="display:none">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="number">Customer ID:</label>
                                        <input type="number" min="1" max="6" class="form-control"
                                            placeholder="Number of people" id="Number_of_people">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="display:none">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="orders">Orders:</label><br>
                                        <select name="Orders[]" multiple>
                                            <option value="1">Butter Naan</option>
                                            <option value="2">Chicken Tikka</option>
                                            <option value="3">Kadhai Paneer</option>
                                            <option value="4">Dal Makhani</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="Drinks">Drinks:</label><br>
                                        <select name="Orders[]" multiple>
                                            <option value="1">100 pipers on the rocks</option>
                                            <option value="2">Long island iced tea</option>
                                            <option value="3">Desi Daaru</option>
                                            <option value="4">Kasaul ka maal</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Feedback">Feedback:</label>
                                <input type="text" class="form-control" placeholder="Feedback" id="Feedback">
                            </div>

                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>






<section id="main2" class="main">
    <h1>Reservations for date: <div style="display:inline" id="date_div">2021-03-14</div>
    </h1>
    <!-- <div class="div-table">
          <div class="div-table-row">
            <div class="div-table-col">
              <input type="checkbox" id="res1" />
              <label for="myCheckbox1">
                <div class="myDIV"><img class="table_img" src="./table_icon.jpg" width="80"><p>Table 1</p></div>
                <div class="hide">Capacity: 4 <br> Unoccupied</div>
              </label>
            </div>
          </div>
        </div> -->
    <form method="POST" action="dashboard/reservation_success">
      <div id="res_table"></div>
      <div id="total_num" style="display: none;">
        <%= total_num %>
      </div>
      <div>Number of free tables: <div id="res_free" style="display: inline;"> </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" id="res_date" onchange="changedate(this.value); loadres()" value="2021-03-14"
              class="form-control">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="time">Slot Num:</label>
            <input type="number" onchange="loadres()" id="res_slot" min="0" value="0" max="11" class="form-control">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label for="number">Customer ID:</label>
            <input type="number" class="form-control">
          </div>
        </div>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </section>


  <section id="main3" class="main">
    <h1>Waitlists</h1>
    <form action="dashboard/waitlist_success" method="POST">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="number">Customer ID:</label>
            <input type="number" class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="number">Customer Count:</label>
            <input type="number" class="form-control">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </section>

  <section id="main4" class="main">
    <h1>Add/Update Customer</h1>
    <form method="POST" action="dashboard/modify_cust_success">
      <div class="form-group">
        <label>Cust_ID:</label>
        <input type="number" class="form-control">
      </div>
      <div class="form-group">
        <label>Name:</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
        <label>Age:</label>
        <input type="number" class="form-control">
      </div>
      <div class="form-group">
        <label>Email:</label>
        <input type="emai" class="form-control" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label>Phone:</label>
        <input type="text" class="form-control" placeholder="Enter phone">
      </div>
      <button type="submit" class="btn btn-primary">Add/Update</button>
    </form>
  </section>

  <section id="main5" class="main">
    <h1>Menu (select atleast one option in each)</h1>

    <section id="menu" class="menu">
      <div class="div-table">
        <div class="div-table-row">
          <div class="div-table-col">
            Food Type:<br>
            <select id="food" name="food_type" size="5" multiple>
              <% for(var i=0; i<food_type.length; i++){ %>
                <option>
                  <%= food_type[i].food_type %>
                </option>
                <% } %>
            </select>
          </div>
          <div class="div-table-col">
            Cuisine Type:<br>
            <select id="cuisine" name="cuisine_type" size="5" multiple>
              <% for(var i=0; i<cuisine_type.length; i++){ %>
                <option>
                  <%= cuisine_type[i].cuisine_type %>
                </option>
                <% } %>
            </select>
          </div>

          <<div class="div-table-col">
            Rating (>=):<br>
            <div style="display: none;" id="ratings">1</div>
            <div class="rating">
              <span><input type="radio" name="rating" id="str10" value="10" onclick="changevalue(10)"><label
                  for="str10"></label></span>
              <span><input type="radio" name="rating" id="str9" value="9" onclick="changevalue(9)"><label
                  for="str9"></label></span>
              <span><input type="radio" name="rating" id="str8" value="8" onclick="changevalue(8)"><label
                  for="str8"></label></span>
              <span><input type="radio" name="rating" id="str7" value="7" onclick="changevalue(7)"><label
                  for="str7"></label></span>
              <span><input type="radio" name="rating" id="str6" value="6" onclick="changevalue(6)"><label
                  for="str6"></label></span>
              <span><input type="radio" name="rating" id="str5" value="5" onclick="changevalue(5)"><label
                  for="str5"></label></span>
              <span><input type="radio" name="rating" id="str4" value="4" onclick="changevalue(4)"><label
                  for="str4"></label></span>
              <span><input type="radio" name="rating" id="str3" value="3" onclick="changevalue(3)"><label
                  for="str3"></label></span>
              <span><input type="radio" name="rating" id="str2" value="2" onclick="changevalue(2)"><label
                  for="str2"></label></span>
              <span><input type="radio" name="rating" id="str1" value="1" onclick="changevalue(1)"><label
                  for="str1"></label></span>
            </div>
        </div>

        <div class="div-table-col">
          Veg/Non Veg:<br>
          <select name="veg_check" id="veg_check" size="2" multiple>
            <option value="t">Veg</option>
            <option value="f">Non-Veg</option>
          </select>
        </div>

        <div class="div-table-col">
          Price (<=):<br>
            <div> <input id="price" value="100000000" name="price" style="width: 80%" type="number"></div>
        </div>

        <div class="div-table-col">
          <button type="submit" onclick="loadmenu()">Submit</button>
        </div>
      </div>
      </div>
      <div>
        Currently showing: <br> Food Type: <div style="display: inline" id="show_food">
          <%= show_food %>
        </div> | Cuisine Type: <div style="display: inline" id="show_cuisine">
          <%= show_cuisine %>
        </div><br>Rating>=<div style="display: inline" id="show_rating">
          <%= show_rating %>
        </div> | Veg:<div style="display: inline" id="show_veg">
          <%= show_veg%>
        </div> | Price<=<div style="display: inline" id="show_price">
          <%= show_price %>
      </div>
      <div id="menu_placeholder">

      </div>
    </section><!-- End Menu Section -->
  </section>


  <script>


    function myFunction() {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      input = document.getElementById("myInput");
      menu_len = document.getElementById("menu_length").innerHTML;
      filter = input.value.toUpperCase();

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < Math.floor(menu_len / 6) + 1; i++) {
        for (var j = 0; j < Math.min(menu_len - 6 * i, 6); j++) {
          var val = document.getElementById("dcell" + (6 * i + j)).innerHTML;
          var cell = document.getElementById("cell" + (6 * i + j));
          // console.log(temp);
          // console.log(cell);
          if (val.toUpperCase().indexOf(filter) > -1) {
            cell.style.display = "";
          }
          else {
            cell.style.display = "none";
          }
        }
      }
    }

    function getSelectValues(select) {
      var result = [];
      var options = select && select.options;
      var opt;

      for (var i = 0, iLen = options.length; i < iLen; i++) {
        opt = options[i];

        if (opt.selected) {
          result.push(opt.value || opt.text);
        }
      }
      return result;
    }
    function loadmenu() {
      var xhttp = new XMLHttpRequest();

      xhttp.onreadystatechange = function () {
        if (this.readyState == 4 && this.status == 200) {
          document.getElementById("menu_placeholder").innerHTML =
            this.responseText;
          var fx;
          // document.getElementsByName("plusbutton")
          var itemlist = document.getElementsByName("plusbutton");
          for (var xx = 0; xx < itemlist.length; xx++) {
            itemlist[xx].style.visibility = "hidden";
          }
        }
      };

      var food = getSelectValues(document.getElementById("food")).join();
      var cuisine = getSelectValues(document.getElementById("cuisine")).join();
      var veg = getSelectValues(document.getElementById("veg_check")).join();
      var ratings = document.getElementById("ratings").innerHTML;
      var price = document.getElementById("price").value;
      xhttp.open("GET", "getmenu?food=" + food + "&cuisine=" + cuisine + "&rating=" + ratings + "&veg=" + veg + "&price=" + price, true);
      xhttp.send();

      document.getElementById("show_food").innerHTML = food;
      document.getElementById("show_cuisine").innerHTML = cuisine;
      document.getElementById("show_rating").innerHTML = ratings;
      document.getElementById("show_price").innerHTML = price;
      document.getElementById("show_veg").innerHTML = veg;
    }
    function changevalue(num) {
      document.getElementById("ratings").innerHTML = num;
    }

    var options = document.getElementById("food").getElementsByTagName("option");
    var i;
    for (i = 0; i < options.length; i++) {
      options[i].selected = true;
    }

    options = document.getElementById("cuisine").getElementsByTagName("option");
    for (i = 0; i < options.length; i++) {
      options[i].selected = true;
    }

    options = document.getElementById("veg_check").getElementsByTagName("option");
    for (i = 0; i < options.length; i++) {
      options[i].selected = true;
    }
    loadmenu();

    options = document.getElementById("food").getElementsByTagName("option");
    for (i = 0; i < options.length; i++) {
      options[i].selected = false;
    }

    options = document.getElementById("cuisine").getElementsByTagName("option");
    for (i = 0; i < options.length; i++) {
      options[i].selected = false;
    }

    options = document.getElementById("veg_check").getElementsByTagName("option");
    for (i = 0; i < options.length; i++) {
      options[i].selected = false;
    }

    document.getElementById("price").value = null;


  </script>